{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Choix de l'adresse{% endblock %}


{% block body %}
<div class="row mb-5">


    <div class="col">

        <div class="text-center">
            {% if default_adresse %}
            <div class="card mx-auto" style="width: 18rem;">
                <div class="card-header">
                    Adresse par défaut
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ default_adresse.name }}</li>
                    <li class="list-group-item">{{ default_adresse.address_1 }}</li>
                    {% if default_adresse.address_2 %}
                    <li class="list-group-item">{{ default_adresse.address_2 }}</li>
                    {% endif %}
                    <li class="list-group-item">{{ default_adresse.zip_code }} - {{ default_adresse.city }}</li>
                    <li class="list-group-item">{{ default_adresse.get_country_display }}</li>
                </ul>
            </div>


            {% else %}
            Pas d'adresse(s) enregistrées
            {% endif %}


        </div>

    </div>


</div>


<div class="row mb-5 justify-content-between" style="margin-top: 20px;">

    <div class="col-2">
        {% if user.adresses.all %}

        <form action="{% url 'shop:validate-cart' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Passer la commande" class="btn btn-success">
        </form>
        {% else %}
        <h4>Vous devez d'abord créer une adresse pour valider la commande</h4>
        {% endif %}
    </div>
    <div class="col-2">
        <a href="{% url 'accounts:create-address' %}" class="btn btn-outline-success">Créer une adresse</a>

    </div>
</div>
<div class="row">
    <div class="col">

        <div class="text-center">
            <p class="d-inline-flex gap-1">
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Autres adresses
                </button>
            </p>
            <div class="collapse" id="collapseExample">
                {% for adresse in adresses %}
                <div class="card card-body mx-auto" style="margin-bottom: 20px; max-width: 300px;">
                    <!--
                    Toutes les adresses False
                    -->


                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ adresse.name }}</li>
                        <li class="list-group-item">{{ adresse.address_1 }}</li>
                        {% if adresse.address_2 %}
                        <li class="list-group-item">{{ adresse.address_2 }}</li>
                        {% endif %}
                        <li class="list-group-item">{{ adresse.zip_code }} - {{ default_adresse.city }}</li>
                        <li class="list-group-item">{{ adresse.get_country_display }}</li>
                    </ul>

                    <form action="{% url 'accounts:default_address' pk=adresse.pk %}?redirect=validate"
                          method="post">

                        {% csrf_token %}
                        <input type="submit" value="Définir" class="btn btn-outline-info">

                    </form>


                </div>
                {% endfor %}
            </div>

        </div>

    </div>
</div>
{% endblock %}