{% extends 'base.html' %}

{% block title %}Index{% endblock %}


{% block body %}

<div class="row mb-5">
    <h2 class="text-center">Tous les vêtements</h2>

</div>
<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center mb-5">
    <form role="search" class="d-flex">

        <input type="search" placeholder="Rechercher" aria-label="Rechercher" name="search" class="form-control">


        <button type="submit" class="btn btn-outline-dark ms-2">Rechercher</button>

    </form>
</div>

<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center mb-5">

    {% for name, db_name in categories %}
    <a href="{% url 'shop:all' %}?category={{ db_name }}" class="btn btn-outline-primary">{{ name }}</a>
    {% endfor %}

</div>

<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center mb-5">

    <div class="col">

        <a href="{% url 'shop:all' %}" class="btn btn-outline-primary">Supprimer les filtres</a>
    </div>

</div>


<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">


    {% for garment in garments %}
    <div class="col mb-5">

        <div class="card h-100">
            <!-- Product image-->
            <img class="card-img-top" src="{{ garment.pics_1.url }}"/>
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">{{ garment.description }}</h5>
                    <!-- Product price-->
                    {{ garment.price }} € <br>

                    <!-- Product state-->
                    {{ garment.get_state_display }} <br>
                    <!-- Product size-->
                    Taille {{ garment.size }}<br>
                    <!-- Product year-->
                    Année {{ garment.garment_year }}
                </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                            href="{% url 'shop:detail' slug=garment.slug pk=garment.pk %}">Détail</a>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}