{% extends 'base.html' %}

{% block title %}Index{% endblock %}


{% block body %}

<div class="row mb-5">
    <h2 class="text-center">Tous les vêtements</h2>

</div>
<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center mb-5">
    <form role="search" class="d-flex">

        <input type="search" placeholder="Rechercher" aria-label="Rechercher" name="search" class="form-control" hx-get="{% url 'shop:search' %}"
           hx-trigger="keyup changed, search"
           hx-target="#search-results"
           hx-indicator=".htmx-indicator">


        <button type="submit" class="btn btn-outline-dark ms-2">Rechercher</button>

    </form>
</div>

<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center mb-5">

    {% for name, db_name in categories %}
    <a href="{% url 'shop:all' %}?category={{ db_name }}" class="btn btn-outline-primary">{{ name }}</a>
    {% endfor %}

</div>

<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center mb-5">

    <div class="col">

        <a href="{% url 'shop:all' %}" class="btn btn-outline-primary">Supprimer les filtres</a>
    </div>

</div>

<div id="search-results">
{% include 'shop/includes/search.html' %}
</div>

{% endblock %}