{% extends 'base.html' %}

{% block title %}{{ garment.description }}{% endblock %}


{% block body %}

<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

    <div class="col mb-5">
        <div class="text-center">
            <h2>{{ garment.description }}</h2>
            Vendu par <b>{{ garment.user.username }}</b>

        </div>
    </div>
</div>

<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

    <div class="col mb-5">
        <div class="card h-100">
            <!-- Product image-->
            <img class="card-img-top" src="{{ garment.pics_1.url }}"/>
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">{{ garment.description }}</h5>
                    <!-- Product price-->
                    {{ garment.price }} € <br>

                    <!-- Product state-->
                    {{ garment.get_state_display }} <br>
                    <!-- Product size-->
                    Taille {{ garment.size }}<br>
                    <!-- Product year-->
                    Année {{ garment.garment_year }}
                </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                    {% if request.user != garment.user %}
                    <form method="post" action="{% url 'shop:add-to-cart' pk=garment.pk %}">
                        {% csrf_token %}
                        <input type="submit" value="Echanger" class="btn btn-outline-dark mt-auto">

                    </form>
                    {% else %}
                    <a href="{% url 'shop:delete-garment' pk=garment.pk %}" class="btn btn-outline-danger">Supprimer</a>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>


</div>

<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

    <div class="col mb-5">
        <div class="text-center">
            Réf annonce : {{ garment.reference }}

            {% if messages %}

            {% for message in messages %}
            <h5 style="color: red;">{{ message }}</h5>
            {% endfor %}

            {% endif %}
        </div>
    </div>
</div>

{% endblock %}