{% extends 'base.html' %}

{% block title %}Nouveau ticket{% endblock %}


{% block body %}

<div class="row mb-5">
    <h2 class="text-center">Nouveau ticket</h2>

</div>

<div class="row justify-content-center">


    <div class="col-6 mb-5">
        <form method="post">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}

            <input type="submit" value="Soumettre" class="btn btn-outline-success">
        </form>

        {% if messages %}

            {% for message in messages %}

            {{ message }}
            {% endfor %}

        {% endif %}

    </div>


</div>

{% endblock %}