{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ ticket.objet }}{% endblock %}


{% block body %}

<div class="row mb-5">
    <h2 class="text-center">{{ ticket.subject }}</h2>

</div>


<div class="row justify-content-center">


    <div class="col mb-5">

        <!--
            Message par message dans une card
            -->
        {% for message in messages %}
        <div class="card">
            <div class="card-header">
                {{ message.user }}
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>{{ message.message }}</p>
                    <footer class="blockquote-footer"><cite title="Source Title">{{ message.date }}</cite>
                    </footer>
                </blockquote>
            </div>
        </div>

        {% endfor %}


    </div>

</div>

<div class="row justify-content-center mb-5">
    <div class="col">
        <!--

           Formulaire de réponse limité à l'utilisateur à qui appartient le ticket et aux admins
           -->
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Envoyer" class="btn btn-outline-success">
        </form>
    </div>
</div>
{% if ticket.closed == False %}
<div class="row justify-content-center">
    <div class="col mb-5">
        <form method="post" action="{% url 'sav:close' pk=ticket.pk %}">
            {% csrf_token %}
            <input type="submit" value="Clôturer le ticket" class="btn btn-success">

        </form>

    </div>


</div>
{% endif %}
{% endblock %}